<!doctype html>
<html lang="en">
  <head>
    <title>Random User</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>
  <body>

    <div class="container">
        <p>
            Title: {{biodata['title']}} <br>
            First Name: {{ biodata['first_name'] }}
            Last Name: {{ biodata['last_name'] }}
        </p>
        <p>Gender: {{ biodata['gender'] }} </p>
    </div>



    <form action="" method="post">
        <input type="submit" value="Next">
    </form>

    </body>
</html>