<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency-Converter</title>
</head>
<body>
    <h2>Currency Conversion</h2>

    <form action="{{url_for('results')}}" method="post">

        <input type="number" step="0.01" name="amount" id="amount" value="1">

        <input list="Currency Code" name="currency_code_from" placeholder="From">
            <datalist id="Currency Code">
                {% for code, name in code_name.items() %}
                    <option value="{{ code }}">{{name}}</option>
                {% endfor %}
            </datalist>

        <input list="Currency_Code" name="currency_code_to" placeholder="To">
            <datalist id="Currency_Code">
                {% for code, name in code_name.items() %}
                    <option value="{{ code }}">{{name}}</option>
                {% endfor %}
            </datalist>
        <input type="submit" value="Submit">

    </form>
</body>
</html>